* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Sofia', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  position: fixed;
  background-color: #000000;
  box-shadow: 2px 2px 2px 1px #0f0d0d;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}


.myheading {
  margin: auto;
}

.logo {
  height: 80px;
  width: 95px;
  display: flex;
  border: none;
  margin-left: 20px;
  border-radius: 50%;
  align-items: flex-start;
  justify-content: flex-start;
}

nav {
  flex: 1;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#navbar li {
  list-style-type: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  color: #fcfcfc;
  font-weight: 700;
  font-size: 16px;
  transition: all 1s ease;
}

#navbar li a:hover {
  color: #d10b0b;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 60%;
  height: 2px;
  background: #d10b0b;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

.btn-1 {
  color: #fff;
  border: 1px solid #C2C2C2;
  background-color: #0650c0;
  margin: 10px;
  font-weight: 700;
  padding: 15px 30px;
  border-radius: 30px;
  box-shadow: 0 0 0 0 rgba(0, 195, 96, 0.24);
  transition: background 0.8s;
}

.btn-1:hover {
  cursor: pointer;
  background: #485256;
}

.btn-2 {
  color: #fff;
  background-color: #0f7463;
  border: none;
  font-weight: 700;
  border-radius: 8px;
  margin: 10px;
  padding: 15px 30px;
  border-radius: 40px;
  box-shadow: 0 0 0 0 rgba(0, 195, 96, 0.24);
  transition: background 0.8s;
}

.btn-2:hover {
  cursor: pointer;
  background: rgb(27, 82, 43);
}

#list {
  font-weight: 700;
  padding-top: 8px;
  line-height: 34px;
  color: #485256;
  list-style: square inside url(/assets/Images/check-mark.svg);
}

.flex-container-1 {
  background-color: #140e0e;
  box-shadow: 2px 2px 4px 2px #e6eaec;
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 45px;
  width: 100%;
}

.flex-container-1 > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width: 50%;
}

.flex-container-1 h3 {
  color: #cf1919;
  text-align: center;
}

.flex-container-1 p {
  color: #556768;
  font-size: 17px;
  font-weight: 400;
  margin-top: 20px;
}

.flex-container-1 img {
  margin-top: 30px;
  width: 100%;
  height: 500px;
}


.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(90deg, rgba(211, 203, 93, 0.4), rgb(240, 242, 243));
  flex-flow: row wrap;
}

.about-us > div {
  margin: auto;
  padding: 50px;
  font-size: 18px;
  width: 50%;
}

.about-us h4 {
  text-align: center;
  font-weight: 900;
  text-transform: capitalize;
}

.about-us p {
  color: #1f1f1f;
  font-size: 16px;
}

.about-image img  {
  width: 70%;
  height: 100%;
  border-radius: 20px;
}

.spanme {
  color: #d4ddddc7;
  font-size: 25px;
  font-style: italic;
  background-color: #e04a0e;
}

.mycontainer {
position: relative;
width: 100%;
height: 100vh;
display: flex;
}

.image {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  mix-blend-mode: screen;
  opacity: 100%;
}

.image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.form {
  width: 50%;
}

.form h2 {
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 20px;
  text-transform: uppercase;
  border-bottom: 5px solid #086b5e;
  letter-spacing: 1px;
  display: inline-block;
  color: #001c2a;
}

.input {
  margin-bottom: 20px;
}

.input span {
  font-size: 16px;
  margin-bottom: 5px;
  color: #001c2a;
  display: inline-block;
  letter-spacing: 1px;
}

.input input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  letter-spacing: 1px;
  color: #001c2a;
  background: transparent;
  border-radius: 30px;
  border: 1px solid #001c2a;
}

.google-button {
  color: white;
  outline: none;
  cursor: pointer;
  border: none;
  font-weight: 500;
  background-color: #050505;
  width: 300px;
  height: 30px;
  align-items: center;
  margin: auto;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  transition: all 2s ease;
}

.google-button:hover {
  cursor: pointer;
  background: #0a2530;
  color: #e6e6e6;
  border: 1px solid #1b8a77;
  transform: scale(1.1);
}

.button-image {
  max-width: 20px;
  margin-right: 16px;
}

#submit-button {
  color: white;
  outline: none;
  cursor: pointer;
  border: none;
  font-weight: 500;
  background-color: #9e2304;
}

#submit-button:hover {
  background-color: #803002;

}

#submit-button:active {
  transform: scale(0.9);
  transition: 0.2s;
}

.remember-me {
  margin-bottom: 20px;
  color: #001c2a;
  font-weight: 400;
}

.input p {
  color: #001c2a;
}

.input p a {
  color: #ff6600
}

.form h3 {
  color: #001c2a;
  text-align: center;
  margin: 50px 0 10px;
  font-weight: 500;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media li img {
  width: 50px;
  height: 50px;
  transform: scale(0.5);
  filter: invert(1);
}

.social-media li {
  list-style: none;
  justify-content: center;
  align-self: center;
  background-color: #001c2a;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 7px;
  width: 50px;
  height: 50px;
}

.social-media li:hover {
  background-color: #ff6600;
}

.social-media li:active {
  background-color: #ff6600;
  transform: scale(0.9);
}

@media(max-width:768px) {
  .image {
      width: 100%;
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
  }

  .content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      z-index: 1;

  }

  .form {
      width: 100%;
      background-color: rgba(255, 255, 255, 0.678);
      padding: 20px;
  }

}

.container {
  max-width: 1300px;
  padding: 25px 25px 25px 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  
}

.col {
  min-width: 300px;
}

.col img {
  max-width: 100%;
  padding: 25px 0;
  margin-left: 180px;
}

.col h1 {
  font-size: 45px;
  line-height: 60px;
  margin: 1px 0;
  padding-top: 18px;
  text-align: center;
  text-shadow: 2px 2px 4px #0c6962;
}

.col p {
  font-size: 18px;
  margin-top: 29px;
  font-weight: normal;
  font-style: italic;
}

.btn {
  display: inline-block;
  background: #111;
  color: #fff;
  padding: 15px 30px;
  margin: 30px 0;
  border-radius: 40px;
  text-decoration: none;
  transition: background 0.5s;
}

.btn:hover {
  background: #563434;
}

hr {
  border-style: solid;
  border-width: 1px;
  border-color: #f8f8f8;
  opacity: 1;
  box-shadow: 2px 2px 6px #f1f1f1;
}

.categories {
  margin: 50px 0;
;
  width: 100%;
}

.col-1 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-1 img {
  max-width: 100%;
  padding: 50px 0;
  border-radius: 1000px;
}

.col-1 h1,p {
  text-align: justify;
  font-size: 20px;
}

.feature-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 50px;
  justify-content: space-between;
}

.feature-container h1,p {
  text-align: center;
  font-size: 20px;
  flex-wrap: wrap;
}

.feature-container h1:not(p) {
  text-transform: uppercase;
  font-weight: 700;
  font-family: cursive;
  font-variant: small-caps;
  color: rgb(66, 90, 90);
  margin-bottom: 20px;
}

.feature-container img {
  max-width: 100%;
  height: 500px;
  padding: 50px 0;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
}

#prod-style {
  color:#0f7463;
  text-decoration: underline;
  cursor: pointer;
}

.container-custom {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
}

.container-custom > div {
  width: 100px;
  margin: 20px;
  text-align: center;
  line-height: 55px;
  font-size: 16px;
}
.column-me {
  min-width: 300px;
}

.column-me img {
  max-width: 100%;
  border-radius: 200px;
  border-width: thick;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.column-me h1,h2,p {
  font-size: 17px;
  font-weight: 700;
}

.column-me h1,h2:not(p) {
  color: #d61f1f;
  font-weight: 700;
  font-style: italic;
  text-align: center;
}

.container-custom7 {
  display: flex;
  background-color: #111111;
  align-items: flex-start;
  flex-wrap: wrap;
  background-image: url("/assets/Images/Gradients\ &\ Noise.jpeg");
  background-size: contain;
  background-position: center;
  flex-direction: row;
  justify-content: space-evenly;

}

.container-custom7 > div {
  width: 100px;
  color: #032325;
  margin-top: 20px;
  text-align: center;
  line-height: 55px;
  padding-top: 130px;
  font-size: 16px;
}

.myohcolumn {
  min-width: 500px;
}

.myohcolumn h1 {
  text-transform: uppercase;
  color: #2c1101c7;
  font-size: 25px;
  font-weight: 800;
}

.myohcolumn p {
  font-size: 16px;
  color: #030101c7;
  font-style: italic;
  font-weight: 700;
  
}

.myohcolumn img {
  max-width: 100%;
  border-radius: 60px;
  width: 100%;
  border: none;
  height: 100%;
  padding-top: 50px;
}


.container-custom2 {
  display: flex;
  background-color: #f3f3de;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
}

.container-custom2 > div {
  width: 100px;
  color: #014a53;
  margin: 20px;
  text-align: center;
  line-height: 55px;
  font-size: 16px;
}

.mycolumn {
  min-width: 500px;
}

.mycolumn img {
  max-width: 100%;
  border-radius: 20px;
  width: 500px;
  height: 500px;
}

.btn-3 {
  color: #336967;
  background-color: transparent;
  border: 2px solid #027e6d;
  font-weight: 700;
  border-radius: 8px;
  margin: 10px;
  padding: 15px 30px;
  border-radius: 40px;
  box-shadow: 0 0 0 0 rgba(0, 195, 96, 0.24);
  transition: all 2s ease;
}

.btn-3:hover {
  cursor: pointer;
  background: #1b4f8a;
  color: #e6e6e6;
  border: 1px solid #1b4f8a;
  transform: scale(1.1);
}

.container-custom3 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #ffffff;
  justify-content: space-around;
  margin-top: 0px;
}

.container-custom3 > div {
  width: 500px;
  height: 200px;
  color: #83b1c4;
  background: #21262c;
  margin: 50px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  border: 2px solid #dbdbdb;
  border-radius: 50px;
}

.picture {
  max-width: 100%;
  border-radius: 20px;
  width: 200px;
  height: 200px;
  min-width: 500px;
}

.container-custom4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 80px;
}

.container-custom4 > div {
  width: 500px;
  height: 700px;
}

.search {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 5px;
  margin-top: 90px;
  width: 100%;
}

.search form {
  display: flex;
  width: 100%;
  padding: 20px;
  position: relative;
}

.search-icon {
  position: absolute;
  margin: 9px;
  left: 27px;
  opacity: 0.1;
}

.search input[type="text"] {
  padding: 10px;
  border: 3px solid #027771;
  border-radius: 19px;
  flex-grow: 1; /* Allow input to fill available space */
  margin-right: 20px;
  text-rendering: auto;
}

.search input:focus {
  /* Optional styles for focused input */
  outline: none; /* Remove default outline */
  padding-left: calc(28px + 10px + 5px); /* Adjust as needed (icon width + padding + buffer) */
}

.search input::placeholder {
  padding-left: 25px;
}

.search button {
  padding: 10px 15px;
  background-color: #03383b; /* Green */
  color: white;
  border: none;
  margin-right: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.search button:hover {
  opacity: 0.8;
}

.currency {
  margin-left: auto;
}

.currency select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.contentnew {
  padding: 20px;
  max-width: 600px; 
  margin: 0 auto; 
}

.contentnew h2 {
  margin-bottom: 20px;
  text-align: center;
}

.contentnew ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contentnew li {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  color: #153a32;
  text-transform: capitalize;
  background-color: #f7f5f4;
  border-radius: 30px;
  padding: 12px;
}

.contentnew p {
  text-align: center;
  margin-top: 20px;
}

.catlog-me {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
}

.catlog-me > div {
  width: 100px;
  margin: 9px;
  text-align: center;
  line-height: 55px;
  font-size: 16px;
}

.column-mycatlog {
  min-width: 300px;
}

.column-mycatlog img {
  max-width: 100%;
  border-radius: 200px;
  border-width: thick;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.column-mycatlog p {
  font-size: 18px;
  font-weight: 700;
  color: #0a2530;
}

.contact-sales {
  background-color: #f0f2f5;  /* Light background color */
  padding: 80px 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.contact-sales h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
}

.contact-sales p {
  font-size: 1.2em;
  color: #777;
  margin-bottom: 40px;
  line-height: 1.5;  /* Adjust line spacing for better readability */
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  /* Subtle shadow effect */
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.contact-form input {
  padding: 15px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
}

.contact-button {
  background-color: #333;
  color: #fff;
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;  /* Add smooth hover effect */
}

.contact-button:hover {
  background-color: #222;
}


.p-opacity {
  color: #a1a19e;
  font-style: normal;
  font-size: 13px;
  font-family: 'Times New Roman', Times, serif;
}

.last-feature {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  padding: 50px;
  margin: 50px;
  background-color: #0a2530;
  border-radius: 90px;
  text-align: center;
}

.last-feature > div {
  color: #2a3e47;
  font-size: 30px;
  padding: 40px;
}

.last-feature h4 {
  color: #4d9287;
  margin-bottom: 30px;
}

.last-feature p {
  margin-bottom: 30px;
  font-size: 18px;
}

.howtailorswork {
  padding: 80px 80px 70px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 7px 0 5px 1px #c9c9c9;
  margin: auto;
  background-image: linear-gradient(180deg, rgba(252, 252, 252, 0.4), rgba(241, 241, 241, 0.6), rgb(231, 240, 223));
}

.howtailorswork div {
  text-align: center;
  color: #302d2e;
  width: 500px;
}

.howtailorswork div h1,h3 {
  margin: 17px;
  color: #7e0209;
  font-weight: 800;
  line-height: 30px;
}

.howtailorswork div p {
  text-align: justify;
}

.tailorbtn {
  padding: 14px;
  border-radius: 40px;
  background: #000000;
  color: #a1a19e;
  font-size: 14px;
  margin: 25px;
  width: 50%;
  border:  3px groove #131f20;
  transition: all 1.5s ease-in-out ;
}

.tailorbtn:hover {
  transform: scale(1.1);
  color: #ece9e9;
  border: 3px solid #1a0f13;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.tailored-lists {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: auto;
  border-radius: 20px;
}

.tailored-lists ul {
  list-style-type: none;
  display: flex;
  line-height: 50px;
}

.tailored-lists li {
  text-decoration: none;
  color: #003852;
  margin: 10px;
  font-size: 15px;
  opacity: 0.7;
}

.launch-heading {
  margin: auto;
  text-align: center;
  padding-top: 80px;
}

.launch-business {
  box-shadow: 2px 2px 4px 1px #eeebeb;
}

.launch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 65px 170px 0 170px;
  padding-bottom: 80px;
}

.launch > div {
  text-align: center;
  width: 100%;
}

.launch > div h4 {
  margin: 30px;
}

.launch > div p {
  margin: 10px 40px 10px 40px;
  color: #030202b7;
  font-size: 16px;
  font-weight: 400;
}

.launch > div img {
  width: 63.33%;
  border-radius: 200px;
  height: 50%;
}

.section-three {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 67px 170px 67px 170px;
  border-radius: 30px;
  padding-bottom: 80px;
  padding-top: 70px;
  background-color: #f7f7f7ea;
}

.section-three > div {
  text-align: center;
  width: 100%;
}

.section-three > div h4 {
  margin: 30px;
}

.section-three > div p {
  margin: 10px 40px 10px 40px;
  color: #030202b7;
  font-size: 16px;
  font-weight: 400;
}

.section-three > div img {
  width: 63.33%;
  border-radius: 200px;
  height: 50%;
}

.section-three-heading {
  margin: auto;
  text-align: center;
  padding-top: 80px;
}

.section-three-heading > div h1,p {
  margin: 20px;
}

footer {
  background-color: #000000;
  padding: 5px;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 10px;
  margin-bottom: 0;
}

.footer > div {
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.footer ul {
  list-style: none;
  line-height: 40px;
  padding: 28px 50px;
}

.footer li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.footer li a:hover {
  color: #0f7463;
}

.footme {
  font-size: 16px;
  font-weight: 900;
  color: #ff7321;
}

.social-media2 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 40px;
}

.social-media2 li img {
  width: 50px;
  height: 50px;
  transform: scale(0.5);
  filter: invert(1);
}

.social-media2 li {
  list-style: none;
  justify-content: center;
  align-self: center;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 7px;
  width: 50px;
  height: 50px;
}

.social-media2 li:hover {
  background-color: #105685;
}

.social-media2 li:active {
  background-color: #064968;
  transform: scale(0.9);
}

.copyright-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 5px 100px 4px 100px;
  border-radius: 20px;
}

.copyright-sec p {
  color: #e7e7e7;
  font-size: 14px;
  opacity: 0.7;
}


.copyright-sec ul {
  list-style-type: none;
  display: flex;
  line-height: 50px;
}

.copyright-sec li a {
  text-decoration: none;
  color: #bebaba;
  margin: 20px;
  font-size: 13px;
  opacity: 0.7;
}

.copyright-sec li a:hover {
  color: #05787e;
}

.blog-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row nowrap;
  padding: 80px;
  background-image: linear-gradient(90deg, rgba(96, 105, 105, 0.5), rgb(255, 255, 255));
  margin-left: 0;
}

.blog-container > div {
  color: #050505;
  font-size: 30px;
  width: 100%;
}

.blog-container > div h1 {
  color: #e2e2e2;
  text-shadow: 2px 2px 3px  #7711ca, 3px 3px 2px #2bdaf183, 5px 6px 4px #44072483;
  font-weight: 900;
  text-align: left;
}

.blog-container > div h3 {
  font-variant: small-caps;
  font-size: 19px;
  margin: 10px;
}

.blog-container > div h4 {
  text-transform: capitalize;
  margin: 10px;
}

.blog-container > div p {
  opacity: 0.7;
  text-align: left;
  margin: 10px;
}

.blog-container div img {
  width: 53.33%;
  margin-top: 40px;
  border-radius: 20px;
}

.discover-my-bt {
  padding: 20px;
  background-color: transparent;
  color: #0c1718;
  border-radius: 40px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 20px;
  transition: all 0.5s ease;
}

.discover-my-bt:hover {
  cursor: pointer;
  border: 3px solid #c07f06;
}

.second-blog-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  flex-flow: row nowrap;
}

.second-blog-section > div {
  text-align: center;
  margin: 0 40px;
}

.second-blog-section > div h1{
  margin: 20px;
}

.second-blog-section > div p {
  color: rgb(153, 153, 153);
}

.second-blog-section > div img {
  width: 28%;
  height: 100%;
  margin: 0 40px;
  border-radius: 50px;
}